@font-face {
    font-family: 'windowsregular';
    src: url('windows_regular-webfont.woff2') format('woff2'),
         url('windows_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'windowsregular', monospace;
    background-color: green;
    background-repeat: repeat;
    background-size: 50%;
    margin: 0 auto;
    max-width: 1000px;
}

p,
ol,
li,
h1,
h2,
h3,
h4,
label,
input,
.checkbox-header {
    font-family: "windowsregular", sans-serif;
font-family: 'windowsregular', monospace;
}

h1 {
    line-height: 100px;
    font-size: 80px;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    color: greenyellow;
}

p,
ol {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    font-weight: 400;
    color: lightgoldenrodyellow;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ol {
    padding-left: 20px;
}

strong {
    font-weight: 600;
}

q {
    quotes: '\201c' '\201d';
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    height: 600px;
    display: block;
}

.stripes {
    height: 60px;
    background: repeating-linear-gradient( 0deg, #701830 0%, #701830 20%, #a10034 20%, #a10034 40%, #d7253b 40%, #d7253b 60%, #fc5d2b 60%, #fc5d2b 80%, #ff9743 80%, #ff9743 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(00%, #ff9743), color-stop(20%, #ff9743), color-stop(20%, #fc5d2b), color-stop(40%, #fc5d2b), color-stop(40%, #d7253b), color-stop(60%, #d7253b), color-stop(60%, #a10034), color-stop(80%, #a10034), color-stop(80%, #701830), color-stop(100%, #701830));
}

.hero {
    display: block;
    padding: 100px 0;
}

.header-info {
    display: block;
    color: yellow;
}

.header-time {
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    padding-top: 8px;
}

span.superscript {
    vertical-align: super;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.button {
    padding: 25px 50px ;
    color: whitesmoke;
    background-color: goldenrod;
    font-size: 40px;
    box-shadow: 0px 10px 0px darkgreen;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
    transition: all 0.15s ease;
    cursor: url("../public/avotrans.ico"), default;
    text-shadow: 0px -4px 0px darkgreen
}

.button--hero {

}

.button--hero:hover {
    background-color: greenf4f;
    text-decoration: none;
}

.button--hero:active {
    background-color: green325;
}

.button--hero:focus {
    outline: none;
}

.button--submit {
    font-size: 18px;
    color: #faf2ec;
    background-color: green718;
    border: 2px solid #341106;
    height: 60px;
    padding-top: 15px;
}

.button--submit:hover {
    background-color: green518;
}

.button--submit:active {
    background-color: greene12;
}

#container {
    background-repeat: repeat;
    background-size: 50%;
    mix-blend-mode: color-burn;
}

.title {

}

.title-year {
    font-size: 50px;
    color: lightyellow;
}

.title-name {
    font-size: 300px;
    margin-top: -50px;
    color: gold;
    text-shadow: 0px 18px 0px limegreen;
}

.col {
    display: inline-block;
    max-width: 360px;
    margin-right: 45px;
    vertical-align: top;
}

.col-sm {
    float: right;
}

.col-sm a {
    color: #97bd33;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}

.col-sm a:hover {
    color: #acd541;
    font-weight: 600;
}

.info-section {
    background-color: green;
    cursor: url("../public/avotrans.ico"), default;
}

.info {
    margin: 0 auto;
    max-width: 1000px;
    color: #f9e3d1;
    padding: 30px 0 90px;
}

.info-section.success .info {
    max-width: 600px;
}

.info-intro {
    color: gold;
    text-align: left;

}

.form-section {
    background-color: green;
    height: 600px;
    margin: 0 auto;
    cursor: url("../public/avotrans.ico"), default;
}

.details {
    border: 2px solid #97bd33;
    padding: 30px;
    background-color: green;
    text-align: center;
    border-radius: 8px;
}

.sponsors-section {
    background-color: green3ed;
    padding: 50px 0;
}

.sponsors {
    max-width: 1000px;
    padding: 0 auto;
    margin: 0 auto;
}

.sponsor {
    height: 130px;
    width: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: inline-block;
    margin-right: 30px;
    background-position: center;
}

.sponsor-dsf {
    background-image: url("../public/dsf.jpg");
}

.sponsor-firefly {
    background-image: url("../public/firefly.gif");
}

.sponsor-fortpoint {
    background-image: url("../public/fortpoint.png");
}

.sponsor-tripps {
    background-image: url("../public/tripps.png");
}

.sponsor-workshop {
    background-image: url("../public/workshop.jpg");
}

.sponsor-bff {
    background-image: url("../public/bff.png");
}

h2.the-rules {
    background-image: url(../public/tomato_gif.webp);
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-top: 0;
    width: 100%;
    background-size: 10%;
    height: 80px;
    margin-bottom: 0;
}

h2.the-judging {
    background-image: url(../public/limes_gif.webp);
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-top: 0;
    width: 100%;
    background-size: 10%;
    height: 80px;
    margin-bottom: 0;
}

h2.the-location {
    background-image: url(../public/garlic_gif.gif);
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-top: 0;
    width: 100%;
    background-size: 10%;
    height: 80px;
    margin-bottom: 0;
}

label,
.checkbox-header {
    text-transform: uppercase;
    font-size: 18px;
    color: palegreen;
    font-weight: 600;
    margin-right: 10px;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    cursor: url("../public/avotrans.ico"), default;
}

input {
    height: 60px;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 18px;
    background: #f5f8e8;
    border: 1px solid rgb(55, 69, 8);
    box-shadow: inset 0px 1px 3px 0px #334004;
    border-radius: 4px;
    width: 280px;
    display: block;
    color: #283304;
    float: left;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    color: #98BB22;
    font-family: 'windowsregular', monospace;
}

input:-moz-placeholder {
    /* Firefox 18- 
    font-size: 18px;
    font-family: 'windowsregular', monospace;
    color: #98BB22;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 18px;
    font-family: 'windowsregular', monospace;
    color: #98BB22;
}

input:-ms-input-placeholder {
    font-size: 18px;
    color: #98BB22;
    font-family: 'windowsregular', monospace;
}

form {}

.form-group {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

.form-group:last-of-type {
    display: block;
}

.form-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 38px 0;
}

input.checkbox {
    height: auto;
    width: auto;
    margin-right: 13px;
}

label.checkbox-inline {
    text-transform: none;
    display: block;
    color: palegreen;
    font-size: 18px;
    font-weight: 400;
}

#pepper {
    right: 40%;
    bottom: 45%;
    width: 200px;
    position: absolute;
}

#cilantro {
    left: 36%;
    bottom: 32%;
    width: 245px;
    position: absolute;
}

#lime {
    left: 39%;
    bottom: 51%;
    width: 176px;
    position: absolute;
}

#tomato {
    left: 38%;
    bottom: 69%;
    width: 180px;
    position: absolute;
}

#garlic {
    bottom: 50%;
    right: 41%;
    width: 200px;
    position: absolute;
}

#onion {
    bottom: 44%;
    right: 36%;
    position: absolute;
    width: 248px;
}

#avocado {
    right: 36%;
    bottom: 41%;
    width: 272px;
    position: absolute;
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 480px) {

    
}
